{% load static %}

<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>She Codes News</title>
        <meta name="description" content="">
        <meta name="author" content="Madeleine Veliz">
        <link href="https://fonts.googleapis.com/css?family=Manjari&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
        {% block stylesheets %}{% endblock %}
    </head>

    {% include './nav.html' %}

    <body>
        <header>
            <!-- <div id="header-text"> -->
                <!-- <a id="header-link" href="{% url 'news:index' %}"> -->
                <h1 style="font-size: 10vw;">She </h1><h2 style="font-size: 10vw;"> {Codes} </h2> <h1 style="font-size: 10vw;"> News</h1>
                    
            
                <!-- </a> -->
            <!-- </div> -->

        </header>
        
        <!-- content blocks here -->
        {% block content %}{% endblock %}
    </body>
    <footer>
        She Codes Plus Perth, by Madeleine Veliz ©
    </footer>
</html>
