{% extends "base.html" %}    
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}


{% block content %}
    <div style="text-align: center;"> 
        <aside style="width:20%;margin-left:auto;margin-right:auto;">
            <h3>Hello, {{user.username|default:'Guest'}} ♥</h3>
            {% if request.user.is_authenticated %}
                <a id = "write-new" href="{%url 'news:newStory' %}">Write New Story </a>
            {% endif %}
         </aside>
    </div>


        <h3>Latest News</h3>
    

    <div id="latest-stories">
        {% if latest_stories %}
            {% for story in latest_stories %}
                {% include "./storyCard.html" with story=story position=forloop.counter %}
            {% endfor %}
        {% else %}
            <p>No stories are available.</p>
        {% endif %}
    </div>

    <h3>All News</h3>
    <div id="all-stories">
        {% if all_stories %}
            {% for story in all_stories %}
                {% include "./storyCard.html" with story=story %}
            {% endfor %}
        {% else %}
            <p>No stories are available.</p>
        {% endif %}
    </div>



{% endblock %}
